h1 {
  text-align: center;
}
.item {
  border-radius: 15px;
  padding: 15px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 5vh; */
  grid-template-areas:
    "item-1 item-1 item-1 item-1"
    "item-2 item-3 item-3 item-4"
    "item-5 item-5 item-5 item-5";
  gap: 15px;
}

.item-1 {
  background-color: red;
  grid-area: item-1;
}
.item-2 {
  background-color: blue;
  grid-area: item-2;
}
.item-3 {
  background-color: green;
  grid-area: item-3;
  color: white;
  font-size: 2rem;
  padding: 5px;
}
.item-4 {
  background-color: purple;
  grid-area: item-4;
}

.item-5 {
  background-color: yellow;
  grid-area: item-5;
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh auto 5vh 5vh; */
    grid-template-areas:
      "item-1 item-1 item-1 item-1"
      "item-2 item-3 item-3 item-3"
      "item-4 item-4 item-4 item-4"
      "item-5 item-5 item-5 item-5";
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .grid-container {
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: 5vh 5vh auto 5vh 5vh; */
    grid-template-areas:
      "item-1"
      "item-2"
      "item-3"
      "item-4"
      "item-5";
    gap: 15px;
  }
}
