body {
  background-color: black;
}

h1 {
  text-align: center;
}

.black-box {
  background-color: black;
  border: 2px solid red;
  width: 500px;
  height: 350px;
  text-align: center;
  color: white;
  line-height: 400px;
  margin: 0 auto;
  position: relative;
}

.black-box::before,
.black-box::after {
  content: "";
  position: absolute;
  background-color: black;
}

.black-box::before {
  height: 200px;
  width: 504px;
  left: -2px;
  top: 75px;
  background-color: black;
}

.black-box::after {
  height: 354px;
  width: 350px;
  top: -2px;
  left: 75px;
  background-color: black;
  content: "Cool Border";
  font-size: 40px;
  vertical-align: middle;
  line-height: 354px;
}
