@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
  background: #e6e6fa;
}

a {
  color: #ea20f1;
}

#about {
  text-align: center;
}

.main-header {
  text-align: center;
  font-size: 50px;
  color: #000000;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Zen Kurenaido", sans-serif;
}

.card {
  width: 485px;
  margin: 50px;
  border: 1px solid black;
  box-shadow: 2px 4px 16px black;
  display: inline-block;
  background-color: #4b0082;
  color: white;
  text-align: left;
  font-size: 18px;
  padding: 15px;
  font-family: "Zen Kurenaido", sans-serif;
}

.card-header {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.card-image img {
  width: 480px;
}

.fa {
  margin-right: 10px;
}
