@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

/* ELEMENTS */

body {
  background: #e6e6fa;
  margin: 0;
  padding: 0;
  font-family: "Zen Kurenaido", sans-serif;
  padding-top: 40px;
}

a {
  color: #ea20f1;
}

/* ID'S */

#about {
  text-align: center;
}

#main-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
  box-shadow: 1px 1px 10px 8px black;
}

/* Classes */

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: inline-block;
  height: 0;
  clear: both;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #4b0082;
  opacity: 0.8;
  overflow: auto;
}

.navbar li {
  float: left;
  opacity: 1;
}

.navbar li a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
}

.navbar li a:hover {
  background-color: #be89e4;
  color: #ffffff;
}

.main-header {
  text-align: center;
  font-size: 50px;
  color: #000000;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: "Zen Kurenaido", sans-serif;
}

.card {
  width: 485px;
  margin: 50px;
  border: 1px solid black;
  box-shadow: 2px 4px 16px black;
  float: left;
  background-color: #4b0082;
  color: #ffffff;
  text-align: left;
  font-size: 18px;
  padding: 15px 15px 50px 15px;
  font-family: "Zen Kurenaido", sans-serif;
}

.card-header {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.card-image {
  margin: 0;
}

.card-image img {
  width: 480px;
}

.social-list {
  list-style: none;
}

.social-list li {
  float: left;
  list-style-position: inside;
  margin-right: 15px;
}

.fa {
  margin-right: 10px;
}
